<div class="col-md-4">
  <div class="form-horizontal">
    <h3>Editing Project</h3>

    <%= render 'form', project: @project %>
    <%= link_to 'Back', projects_path, class: 'btn btn-default' %>
  </div>
</div>
