<div class="form-group">
  <div class="col-md-4">
    <p><strong>Title:</strong>
      <%= @tag.title %></p>
    <p><strong>Description:</strong>
      <%= @tag.description %></p>
    <p><strong>Project:</strong>
      <%= @tag.project.title %></p>

    <%= link_to 'Back', project_tags_path(@tag.project), class: 'btn btn-default' %>
  </div>
</div>
